a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

.header {
  width: 100%;
  margin: 0px;
}

.header__inner {
  width: 80%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header__label {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  cursor: default;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.header__menu-item,
.header__login-item {
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
  color: #353535;
  line-height: 1.5;
  border-bottom: 3px solid rgba(53, 53, 53, 0);
}
.header__menu-item:hover,
.header__login-item:hover {
  color: #4c44c0;
  transition: 0.3s;
  border-bottom: 3px solid #4c44c0;
}

.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  cursor: default;
}

.header__burger {
  min-width: 30px;
  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
  .header__inner {
    width: 90%;
    height: 70px;
    transition: 0.5s;
  }
}
@media screen and (max-width: 1000px) {
  .header__inner {
    min-width: 300px;
    max-width: 1000px;
    height: 75px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
  }

  .header__label {
    width: 100%;
    transition: 0.5s;
    font-size: 1.8rem;
  }

  .header__menu {
    transition: 0.5s;
    width: 100%;
  }

  .header__login-item {
    display: none;
  }

  .header__burger {
    transition: 0.5s;
  }
}