.contacts {
  width: 100%;
  background-color: #363636;
  color: white;
  min-height: 80px;
  height: 4vh;
  text-align: center;
  font-size: 1.2rem;
}

.cotacts__adress {
  text-decoration: none;
  color: white;
}
.cotacts__adress:hover {
  color: white;
}